@model WidgetCreatorMvc3.Models.Widget.WidgetUpdateTitleViewModel
@{
    ViewBag.Title = "Widget: " + Model.Title;
}
<h2>
    Widget: @Model.Title</h2>
@using(Html.BeginForm()){
<ul>
    <li>
        @Html.LabelFor(x => x.Update.NewTitle)
        @Html.EditorFor(x => x.Update.NewTitle)
        @Html.ValidationMessageFor(x => x.Update.NewTitle)
    </li>
    
    <input type="submit" value="Update" />
</ul>
}