@model WidgetServices.Mvc.Widget.CreateWidgetViewModel

@{
    ViewBag.Title = "Create Widget";
}

<h2>Create Widget</h2>

@using(Html.BeginForm())
{
    @Html.HiddenFor(x => x.ApprovalId)

    <ul>
        <li>
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title)
            @Html.ValidationMessageFor(x => x.Title)
        </li>
        <li>
            <input type="submit" value="Create" />
        </li>
    </ul>
}