@model WidgetServices.Mvc.Widget.WidgetListViewModel

@{
    ViewBag.Title = "My Widgets";
}

<h2>My Widgets</h2>

<ul>
    @foreach (var details in Model.Widgets)
    {
        <li>@Html.ActionLink(details.Title, "Index", new { id = details.WidgetId })</li> 
    }
</ul>